openapi: 3.0.3
info:
  title: FusionBrain API
  description: API для генерации изображений из текста на платформе FusionBrain
  version: 1.0.0
servers:
- url: https://api-key.fusionbrain.ai/key/api/v1
tags:
  - name: text2image
    description: Генерация изображений из текста
paths:
  /models:
    get:
      tags:
        - text2image
      summary: Получение списка моделей
      operationId: modelsGet
      responses:
        200:
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /text2image/run:
    post:
      tags:
      - text2image
      summary: Генерация изображения из текста
      operationId: text2imageRun
      requestBody:
        description: Generate image from text
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                params:
                  type: object
                model_id:
                  type: string
      security:
        - ApiKeyAuth: []
      responses:
        201:
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
  /text2image/status/{uuid}:
    get:
      tags:
        - text2image
      summary: Получение статуса генерации
      operationId: getGenerationStatus
      parameters:
      - name: uuid
        in: path
        description: UUID запроса на генерацию
        required: true
        schema:
          type: string
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    ModelList:
      type: array
      items:
        $ref: '#/components/schemas/Model'
    Model:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        version:
          type: number
        type:
          type: string
    GenerateResponse:
      type: object
      properties:
        'status':
          type: string
        uuid:
          type: string
    GenerationStatus:
      type: object
      properties:
        uuid:
          type: string
        status:
          type: string
        images:
          type: array
          items:
            type: string
        censored:
          type: boolean
        generationTime:
          type: integer
  responses:
    ErrorResponse:
      description: Ошибка
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: integer
              error:
                type: string
              message:
                type: string
              path:
                type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Key
      description: API key for authorization
